<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.web.dao.ReplyMapper">
	<delete id="replyDelete" parameterType="ReplyVO">
		DELETE
			reply
		WHERE
			replynum = #{replynum}
			AND userid = #{userid}
	</delete>
	
	<insert id="replyWrite" parameterType="ReplyVO">
		INSERT INTO
			reply
		VALUES (
			reply_seq.nextval
			,#{boardNum}
			,#{userid}
			,#{replytext}
			,sysdate
		)
	</insert>
	
	<select id="replyList" parameterType="int" resultType="ReplyVO">
		SELECT *
		FROM
			reply
		WHERE
			boardnum = #{boardNum}
		ORDER BY
			replynum DESC
	</select>
	
	<update id="replyUpdate" parameterType="ReplyVO">
		UPDATE
			reply
		SET
			replytext = #{replytext}
		WHERE
			userid = #{userid}
			AND replynum = #{replynum}
	</update>
</mapper>









