@CHARSET "UTF-8";

div#wrap {
	width: 60%;
	margin-top: 10%;
	margin-left: auto;
}

h1.title {
	margin-left: -3%;
}

div.menu table {
	border-style: none;
	font-size: 1.3em;
}

.btn {
	text-align: center;
}

input[type="button"] {
	background-color: yellow;
}